.container {
    position: relative!important;
}
.half {
    background-color:#50007F!important;
    height: 90.3vh;
    width: 100vh;
}

.imgs {
    height: 350px;
    width: 350px;
    justify-content: center;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paper2s {
    background-color: #fff!important;
    width: 80%!important;
    height: 75%!important;
    text-align: center!important;
    margin-top: 100px!important;
    margin-left: auto!important;
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
    justify-content: center!important;
    box-shadow: none!important;
}

.papers {
    background-color: #fff!important;
    width: 80%!important;
    height: 75%!important;
    text-align: center!important;
    margin-top: 100px!important;
    margin-right: auto!important;
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
    justify-content: center!important;
    box-shadow:  0px 1.5px 1.5px 1.5px rgba(0,0,0,0.12)!important;
}

.button2  {
    font-size: 1rem;
    background-color: #50007F!important; 
    font-weight: 700!important;
    
}
.button2:hover {
    background-color:#8812CE;
}

.card {
    box-shadow: none!important;
}
.txt {
    font-size: 12px;
}
.text2 {
    color:#50007F!important;
    font-size: 12px;
    font-weight: 700!important;
    text-align: right;

}
.title .css-1qvr50w-MuiTypography-root {
    color:#5B5B5B!important;
    font-weight: 700!important;

}

.tx {
    color:#50007F!important;
    font-size: 12px;
    font-weight: 700!important;

}