.container-login {
    background-color: rgb(104 104 104 /6%)!important;
    height: 100vh!important;
}
.input {
  
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    padding-left: 20px!important;
    padding-right: 38px!important;
}

.main-text {
    color: #50007F!important;
    font-size: 24px;
    padding: 40px!important;
}
.secondary-text {
    color: #939094!important;
    font-size: 14px;
    justify-content: center!important;
    
}
.imgs {
    height: 350px;
    width: 400px;
    justify-content: center;
    margin-top: 0px!important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paper2s {
    background-color: #fff!important;
    width: 80%!important;
    height: 80%!important;
    text-align: center!important;
    position: relative!important;
    margin-left: auto!important;
    margin-top: 50px!important;
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
    justify-content: center!important;
    border-radius: 2px!important;
    box-shadow:  0px 1.5px 1.5px 0px rgba(0,0,0,0.12)!important;
    border-left: 6px solid #50007F!important;
}

.papers {
    background-color: #fff!important;
    width: 80%!important;
    height: 80%!important;
    text-align: center!important;
    position: relative!important;
    margin-top: 50px!important;
    margin-right: auto!important;
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
    justify-content: center!important;
    border-radius: 2px!important;
    box-shadow:  0px 1.5px 1.5px 0px rgba(0,0,0,0.12)!important;
}

.button2  {
    font-size: 1rem;
    background-color: #50007F!important; 
    font-weight: 700!important;
    margin-top: 10px!important;
}

.button-p {
    padding-left: 30px!important;
    padding-right: 30px!important;

}
.button2:hover {
    background-color:#8812CE;
}

.card-content {
   padding-top: 5px!important;
   box-shadow:  0px 2.5px 2.5px 2.5px rgba(0,0,0,0.12)!important;
   height: 70%!important;
   width: 80%!important;
}

.txt {
    font-size: 16px;
    font-weight: 500!important;
    color:#5B5B5B!important;
    text-align: left;
}
.text2 {
    color:#50007F!important;
    font-size: 12px;
    font-weight: 700!important;
    text-align: right;
    margin-left: 6px;
}
.title .css-1qvr50w-MuiTypography-root {
    color:#5B5B5B!important;
    font-weight: 700!important;
}

.tx {
    color:#50007F!important;
    font-size: 16px;
    font-weight: 700!important;
    padding-left: 5px!important;
    text-decoration: none!important;

}

